@import "./fonts.css";
@import "~simplebar/dist/simplebar.min.css";

.simplebar-content-wrapper {
  scroll-snap-type: x mandatory;
}

.simplebar-scrollbar::before {
  background-color: #50e3c2;
}

.clamp-lines__button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

.select-dropdown {
  font-family: "Roboto Slab", serif !important;
}

.settings-icon {
  position: absolute;
  top: 12px;
  right: 0;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.button-link {
  margin: 10px 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: inline-block;
  font-family: "Sansita Swashed", sans-serif;
  border-bottom: 5px solid #79ffe1;
  margin: 20px auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.feed-wrapper {
  display: flex;
}

.feed-wrapper .feed-item {
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 15px;
  scroll-snap-align: start;
}

.card h4,
.card p,
.card small,
.card b,
.card span {
  font-family: "Roboto Slab", serif !important;
}

.card h4 {
  font-weight: 700;
}

.card .description {
  font-family: "Roboto Slab", serif !important;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  color: #888;
}

.feed-header-wrapper {
  display: flex;
}

.feed-header-wrapper h4 {
  margin-bottom: 0;
  margin-right: 15px;
}

.list-wrapper {
  overflow-x: hidden;
}

.list-wrapper .content {
  padding: 16pt 8pt !important;
}

.list-wrapper .list-item {
  display: flex;
}

.list-item a:hover {
  text-decoration: underline !important;
  text-decoration-color: #888 !important;
}

.list-item .badge-wrapper {
  width: 45px;
  margin-right: 15px;
  text-align: right;
}

.list-item .link-content {
  width: calc(100% - 60px);
}

.list-item .link-content-with-discussion {
  width: calc(100% - 90px);
}

.list-item .discussion-link-wrapper {
  width: 30px;
  text-align: right;
}

.list-item .badge-wrapper a:visited span {
  background-color: #999;
}

.list-item a:visited small {
  color: #888;
}

.list-item .discussion-link-wrapper a:visited svg {
  color: #888 !important;
}

@media (min-width: 900px) {
  .feed-wrapper .feed-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1280px) {
  .feed-wrapper {
    flex-wrap: wrap;
  }

  .feed-wrapper .feed-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
